.arrowIcon {
    background: transparent;
    border: none;
}

.arrowRotator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    transition: transform 0.5s ease;
    // animation: blink 2s infinite ease-in-out;
}

.arrowMover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: moveForward 2s infinite ease-in-out;
}

.arrowRotator svg,
.arrowMover svg {
    width: 100%;
    height: 100%;
}

// @keyframes blink {
//     0%,
//     99% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }

@keyframes moveForward {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
