.arrowIcon {
    background: transparent;
    border: none;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease;
}

.arrow svg {
    width: 100%;
    height: 100%;
}
